
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    min-width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #142157;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #142157;
  }

  #title{
    color: #f8f6ff;
    padding-left: 10px;
  }
.container{
  width: 80%;
}
.card-content {

  width: 100%;
}

.card-container{
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.title-content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-new {
    background-color: #0CB7F2; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    margin-left: 55rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }
  table {
    display: grid;
    border-collapse: collapse;
    width: 100%;
    grid-template-columns: 
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr);
  }
  
  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  th {
    position: sticky;
    top: 0;
    background: #107acc;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  }
  
  th:last-child {
    border: 0;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
  }
  
  tr:nth-child(even) td {
    background: #f8f6ff;
  }

  .pagination{
   color: rgb(255, 251, 251);
   margin-top: 5px;

  }
