*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    min-width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
  }

  .container-card{
      width: 23%;
      height: 20rem;
      background-color: rgb(203, 204, 238);
      margin: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1.2rem;
      border-radius: 1rem;
      box-shadow: 26px 28px 32px -27px rgba(0,0,0,0.73);
-webkit-box-shadow: 26px 28px 32px -27px rgba(0,0,0,0.73);
-moz-box-shadow: 26px 28px 32px -27px rgba(0,0,0,0.73);
      
  }
#container-render-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
}

.campo{
    min-width: 40%;

}
.w-full{
    min-width: 100%;
}

.text-right{
    text-align: right;
}

.imagen{
    width: 90%;
    height: 60%;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    border-radius: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #142157;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #142157;
  }
  .text-bold{
      font-weight: 900;
      font-size:1.2rem;
  }
  .container-input{
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;

  }

  .title-input {
    font-weight: 900;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .input-client{
    width: 100%;
    height: 2.5rem;

    box-sizing: border-box;
    border: 1px solid rgb(39, 75, 192);
    border-radius: 4px;
    font-size: 1rem;
  }
  .input-client:focus{
    background-color: rgba(197, 197, 223, 0.33) ;
    
  }
  .button-client {
   float: right;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 9px 1px;
    cursor: pointer;
  }
  .button-client:hover{
    background-color: #46d6a1;
  }

  
  